.tweetList {
    margin-top: 50px;
}

.tweet {
    margin-top: 20px;
    border-bottom: solid 1px;
}

.signup-form {
    margin-top: 25px;
}

.tweet-date {
    float: right;
}

.retweet {
    float: left;
}