@(title: String, script: Html = Html(""), isLogin: Boolean = false)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("react.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("react-dom.min.js"))'></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.Application.index()">Twitter</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarEexample7">
                    <p class="navbar-text navbar-right">
                        @if(isLogin) {
                            <a href="@routes.Application.logout()" class="btn btn-primary btn-sm">ログアウト</a>
                        } else {
                            <a href="@routes.Application.renderSignupForm()" class="btn btn-primary btn-sm">新規登録</a>
                            <a href="@routes.Application.renderSigninForm()" class="btn btn-success btn-sm">ログイン</a>
                        }
                    </p>
                </div>
            </div>
        </nav>

        @content
        @script
    </body>
</html>
